<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.0.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.1" targetFramework="net472" />
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="EPPlus" version="7.0.4" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.72" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="KAutoHelper_Kteam" version="1.0.1.2" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="MiniWord" version="0.8.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Scriban" version="5.9.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>